# Unity genererer disse selv – de skal ikke med
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Test-builds
/Test_build*/

# IDE-filer der laves automatisk
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity crash- og debugfiler
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties
/[Aa]ssets/[Ss]treamingAssets/aa/*

# macOS
.DS_Store
